@import "_vars";

body {
  background-color: $black;
  color: $white;
  font-family: sans-serif;
  overflow: hidden;
  text-align: center;
}

button {
  margin: 2em;
  width: 8em;
}

canvas {
  background: $black;
  cursor: pointer;
  left: 0;
  position: absolute;
  top: 0;

  &:fullscreen {
    cursor: none;
    height: 100vh;
    margin: 0;
    width: 100vw;
  }
}

h1 {
  margin: 1em;
}

input {
  margin: 1em 0 0;
  min-width: 33%;
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}

.instructions {
  animation: instructions 10s linear;
  color: rgba(255, 255, 255, 0);
  cursor: none;
  font-size: 2em;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
}

@keyframes instructions {
  0% {
    top: 0;
    color: $white;
  }
  100% {
    top: 33%;
    color: rgba(255, 255, 255, 0);
  }
}
